{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/films.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRybTAjDV8AgHIi1G7lGLbDfv0LRJTIzw8sUWL3205rvg&s" alt="">
            </div>
            <div class="card-body">
                <span class="card-title">K.G.F CHAPTER: 2</span>
                <p>
                    <span>2022</span> 
                    <span>168min</span> 
                    <span>Action</span>
                </p>
                <p class="card-description">In the blood-soaked Kolar Gold Fields, Rocky's name strikes fear into his foes. While his allies look up to him, the government sees him as a threat to law and order. Rocky must battle threats from all sides for unchallenged supremacy....</p>
                <a href="#">Read more</a>
                <a class="trailer" href="aboutfilm.html"> <i class="fas fa-play"></i> Watch Trailer</a>
            </div>
        </div>
    
        <div class="card">
            <div class="card-thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRybTAjDV8AgHIi1G7lGLbDfv0LRJTIzw8sUWL3205rvg&s" alt="">
            </div>
            <div class="card-body">
                <span class="card-title">K.G.F CHAPTER: 2</span>
                <p>
                    <span>2022</span> 
                    <span>168min</span> 
                    <span>Action</span>
                </p>
                <p class="card-description">In the blood-soaked Kolar Gold Fields, Rocky's name strikes fear into his foes. While his allies look up to him, the government sees him as a threat to law and order. Rocky must battle threats from all sides for unchallenged supremacy....</p>
                <a href="#">Read more</a>
                <a class="trailer" href="aboutfilm.html"> <i class="fas fa-play"></i> Watch Trailer</a>
            </div>
        </div>
    
        <div class="card">
            <div class="card-thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRybTAjDV8AgHIi1G7lGLbDfv0LRJTIzw8sUWL3205rvg&s" alt="">
            </div>
            <div class="card-body">
                <span class="card-title">K.G.F CHAPTER: 2</span>
                <p>
                    <span>2022</span> 
                    <span>168min</span> 
                    <span>Action</span>
                </p>
                <p class="card-description">In the blood-soaked Kolar Gold Fields, Rocky's name strikes fear into his foes. While his allies look up to him, the government sees him as a threat to law and order. Rocky must battle threats from all sides for unchallenged supremacy....</p>
                <a href="#">Read more</a>
                <a class="trailer" href="aboutfilm.html"> <i class="fas fa-play"></i> Watch Trailer</a>
            </div>
        </div>
    
        <div class="card">
            <div class="card-thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRybTAjDV8AgHIi1G7lGLbDfv0LRJTIzw8sUWL3205rvg&s" alt="">
            </div>
            <div class="card-body">
                <span class="card-title">K.G.F CHAPTER: 2</span>
                <p>
                    <span>2022</span> 
                    <span>168min</span> 
                    <span>Action</span>
                </p>
                <p class="card-description">In the blood-soaked Kolar Gold Fields, Rocky's name strikes fear into his foes. While his allies look up to him, the government sees him as a threat to law and order. Rocky must battle threats from all sides for unchallenged supremacy....</p>
                <a href="#">Read more</a>
                <a class="trailer" href="aboutfilm.html"> <i class="fas fa-play"></i> Watch Trailer</a>
            </div>
        </div>
    </div>
{% endblock content %}