{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="posters">
            <div class="posters_info">
                <a class="poster_header">Watch2Twogether</a>
                <h1>Добро пожаловать в онлайн-кинотеатр!</h1>
                <a class="button" href="{% url 'films' %}">Каталог фильмов</a>
            </div>
        </div>

        <section class="a1">
            <div class="about_1">
                <div class="about_1__info">
                    <h2>Смотрите фильмы <br> вместе на расстоянии</h2>
                    <p>Совместный просмотр фильмов на расстоянии позволяет людям, находящимся в разных местах, объединиться и насладиться просмотром одного и того же контента одновременно. Это создает возможность для общения и обсуждения происходящего прямо во время просмотра.</p>
                </div>
                <div class="about_1__img">
                    <img src="{% static 'img/img1.jpeg' %}">
                </div>
            </div>
        </section>

        <section class="a2">
            <div class="about_2">
                <div class="about_2__img">
                    <img src="{% static 'img/img2.jpeg' %}">
                </div>
                <div class="about_2__info">
                    <h2>Выбирайте новинки в <br> мире кино</h2>
                    <p>Добро пожаловать в наше кинематографическое сообщество! После успешной регистрации у вас открывается мир возможностей для насыщенного и увлекательного просмотра фильмов. Сортируйте фильмы по новизне для того, чтобы быть в курсе последних релизов. Мы регулярно обновляем каталог, чтобы предоставить вам доступ к самым свежим и захватывающим фильмам.</p>
                </div>
            </div>
        </section>

        <section class="a1">
            <div class="about_1">
                <div class="about_1__info">
                    <h2>Создавайте комнаты для <br> совместного просмотра <br> фильма</h2>
                    <p>Совместный просмотр фильмов может обогатить ваш опыт и создать уникальное кинематографическое взаимодействие с другими пользователями. Создание комнаты для совместного просмотра позволяет вам делиться впечатлениями от фильма с друзьями или членами семьи, даже если они находятся в разных местах. Это создает уникальную возможность совместного переживания моментов и обсуждения сюжета в реальном времени.</p>
                </div>
                <div class="about_1__img">
                    <img src="{% static 'img/img3.jpeg' %}">
                </div>
            </div>
        </section>

        <section class="a2">
            <div class="about_2">
                <div class="about_2__img">
                    <img src="{% static 'img/img4.jpeg' %}">
                </div>
                <div class="about_2__info">
                    <h2>Интерактивность <br> при просмотре фильмов</h2>
                    <p>Watch2Twogether предоставляет возможность общения в чате во время просмотра. Это позволяет делиться впечатлениями, комментариями и даже создавать собственные шутки, что добавляет новый уровень интерактивности к просмотру.</p>
                </div>
            </div>
        </section>

        <div class="kino">
            <a class="poster_header">Watch2Twogether</a>
            <h1>Добро пожаловать в онлайн-кинотеатр!</h1>
            <a class="button" href="{% url 'films' %}">Каталог фильмов</a>
        </div>
{% endblock content %}